In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [4]:
df_rawPadronData = pd.read_csv('../populationData/01_input/PadronMunicipal_202507.csv', sep=';')
df_rawPadronData.head()

,COD_DISTRITO,DESC_DISTRITO,COD_DIST_BARRIO,DESC_BARRIO,COD_BARRIO,COD_DIST_SECCION,COD_SECCION,COD_EDAD_INT,ESPANOLESHOMBRES,ESPANOLESMUJERES,EXTRANJEROSHOMBRES,EXTRANJEROSMUJERES,FX_CARGA,FX_DATOS_INI,FX_DATOS_FIN
0,12,USERA,1206.0,ZOFIO,6.0,12078.0,78.0,54,8,16,2,1,2025-07-07 00:00:00.3230587,2025-07-01,2025-07-01
1,3,RETIRO,302.0,ADELFAS,2.0,3097.0,97.0,71,4,5,0,0,2025-07-07 00:00:00.3230587,2025-07-01,2025-07-01
2,11,CARABANCHEL,1102.0,OPAÑEL,2.0,11036.0,36.0,48,10,10,4,2,2025-07-07 00:00:00.3230587,2025-07-01,2025-07-01
3,13,PUENTE DE VALLECAS,1301.0,ENTREVIAS,1.0,13006.0,6.0,84,2,3,0,0,2025-07-07 00:00:00.3230587,2025-07-01,2025-07-01
4,20,SAN BLAS-CANILLEJAS,2007.0,CANILLEJAS,7.0,20082.0,82.0,56,5,10,0,4,2025-07-07 00:00:00.3230587,2025-07-01,2025-07-01

In [12]:
df_rawPadronData['EXTRANJEROSMUJERES'].sum()

np.int64(357530)